@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

.prose a {
  color: #2563eb; 
  text-decoration: none;
}

.prose a:hover {
  color: #1e40af; 
  text-decoration: underline;
}
