---
import Layout from "../layouts/Layout.astro";
---

<Layout title="daxog">
  <div class="text-center mx-auto mt-12 text-left max-w-2xl px-4">
    <h1 class="text-3xl font-bold">daxog</h1>
    <p class="mt-6 text-lg">
      Welcome to my website. Pondering there's not much here? Perhaps I'll add more later.
    </p>
    <div class="flex space-x-4 items-center mt-6 text-gray-600 dark:text-gray-400">
      <a href="https://github.com/daxog" class="hover:underline hover:text-indigo-600 dark:hover:text-indigo-400">github</a>
      <a href="mailto:dawxiog@gmail.com" class="hover:underline hover:text-indigo-600 dark:hover:text-indigo-400">email</a>
      <a href="/credits" class="hover:underline hover:text-indigo-600 dark:hover:text-indigo-400">credits</a>
    </div>
  </div>
</Layout>