---
import Layout from "../layouts/Layout.astro";

type Project = {
  url: string;
  frontmatter: {
    title: string;
    date: string;
    description: string;
    technologies?: string[];
    links?: { label: string; url: string }[];
  };
};

const projects: Project[] = Object
  .values(import.meta.glob<Project>('./projects/*.md', { eager: true }))
  .sort((a, b) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());

---

<Layout title="Projects | daxog">
  <div class="text-center mx-auto mt-12 text-left max-w-2xl px-4">
    <h1 class="text-3xl font-bold">Projects</h1>
    <div class="mt-6">
      {projects.length === 0 ? (
        <p>No projects available yet.</p>
      ) : (
        projects.map((project: any) => (
          <div class="mb-8">
            <div class="flex justify-between items-center">
              <h2 class="text-xl font-medium">{project.frontmatter.title}</h2>
              <div class="flex space-x-2">
                {project.frontmatter.links?.map((link: any) => (
                  <a href={link.url} target="_blank" rel="noopener noreferrer" 
                    class="text-gray-600 dark:text-gray-400 hover:underline hover:text-indigo-600 dark:hover:text-indigo-400"
                  >
                    {link.label}
                  </a>
                ))}
              </div>
            </div>
            <p class="mt-2 text-gray-500">{project.frontmatter.technologies?.join(" ")}</p>
            <p class="mt-2">{project.frontmatter.description}</p>
          </div>
        ))
      )}
    </div>
  </div>
</Layout>
